[keyboard] #这部分相当于键盘的名片
name = "Smartkey" #这两个名称就是键盘的名称，具体有什么区别我也不知道，都改成一样的就行
product_name = "Smartkey"
vendor_id = 0x4c4b #这两个ID理论上是影响VIA的，但我们用VIAL不需要这个，就这样放着不动就行
product_id = 0x4643
manufacturer = "Smartkey" #这是作者，默认是大佬的名字，改成自己的昵称就行
chip = "nrf52840"#这是用的主控，好像默认就会生成你选择的固件名称，如果不是自己改一下就行

[matrix]
# Input and output pins are mandatory
input_pins = ["P1_106"] #表示列的针脚
output_pins = ["P0_10", "P0_11", "P1_13", "P1_15", "P0_02"]
# WARNING: Currently row2col/col2row is set in RMK's feature gate, configs here do nothing actually
# row2col = true

[layout]
rows = 1
cols = 5
layers = 2
keymap = [
    [
        ["Q", "W", "E", "R", "T"],
    ],
    [
        ["A", "B", "C", "D", "E"],
    ],
]

[light]
# All light pins are high-active by default, uncomment if you want it to be low-active
capslock.pin = "P0_30"
capslock.low_active = false
# scrolllock.pin = "PA3"
# scrolllock.low_active = true
# Just ignore if no light pin is used for it
# numslock.pin = "PA5"
# numslock.low_active = true

[storage]
# Storage feature is enabled by default
# enabled = false

[ble]
enabled = true
# vddh has an internal voltage divider
battery_adc_pin = "vddh"
# Or
# battery_adc_pin = "P0_04"
# adc_divider_measured = 2000
# adc_divider_total = 2806
charge_state.pin = "P0_25"
charge_state.low_active = false
charge_led.pin = "P0_29"
charge_led.low_active = false
